body {
    background-color: #D38847;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    background-color: #FFA8A3;
    text-align: center;
    color: #18696D;
    font-size: 56px;
}

h2 {
    color: #77B6B9;
    background-color: #0A6F16;
    text-align: center;
    font-size: 46px;
}

h1, h2 {
    font-family: Georgia, serif;
}

h3 {
    font-size:36px; 
}

ul, ol {
    font-size: 26px;
}

.links {
    font-size: 26px;
    background-color: #89D793;
}

img {
    height: auto;
    width: 600px;
}

.icons {
    width: auto;
    height: 300px;
}

.description {
    font-size: 30px;
    background-color: #B52D26;
    color: #ffffff;
}

div {
    background-color: #F5AF73;
    color: #0A6F16;
}